@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* navbar */

.navbar-nav {
  padding-top: 10px;
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float : none;
}

.navbar-nav > a {
  margin: 50px;
}

.navbar-nav a:hover {
  color: black
}

.navbar-nav a:visited {
  color: black
}

.navbar-nav a:active {
  color: black
}

.navbar-nav a:link {
  color: black
}

.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
}
