%nav.navbar.navbar-fixed-top
  %div.container-fluid
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        =link_to 'home', '#'
        =link_to 'projects', '#'
        =image_tag '/assets/me.png'
        =link_to 'sign_in', '#'
        =link_to 'sign_up', '#'
